*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.main_container{
    margin-top: 80px;
    background-color: rgb(173, 173, 173);
    height: 800px;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}
.title {
    margin: 20px;
}

.image_card{
    height: 400px;
    width: 400px;
    background-size: cover;
    background-position: center center;
    border-radius: 50px;
}


.discription {
    display: none;
    margin: 30px;
    text-align: center;
    line-height: 26px;

    
}
.main_container:hover > .discription{
    display: block;
    transition: 100s 100s;

}